@import "tailwindcss";

:root {
  --light-bg: rgba(0, 0, 0, 0.398);
  --dark-bg: rgba(0, 0, 0, 0.611);
  --text-color: rgba(226, 222, 211, 100%);
  --grey-bg: rgba(102, 100, 93, 100%);
}

body {
  background-color: var(--light-bg);
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: var(--text-color);
}

.main-wrapper {
  background: url(./bg-image.jpg);
}


header {
  background-color: var(--dark-bg);
  padding-block: 1.75rem;
  padding-inline: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rupees {
  font-weight: 600;
  letter-spacing: 1.5px;
}